{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PetShop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row py-3 px-lg-5">
            <div class="col-lg-4">
                <a href="" class="navbar-brand d-none d-lg-block">
                    <h1 class="m-0 display-5 text-capitalize"><span class="text-primary">Öý</span>Haýwanym</h1>
                </a>
            </div>
            <div class="col-lg-8 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="d-inline-flex flex-column text-center pr-3 border-right">
                        <h6>Iş wagty</h6>
                        <p class="m-0">8.00AM - 9.00PM</p>
                    </div>
                    <div class="d-inline-flex flex-column text-center px-3 border-right">
                        <h6>Email  salgymyz</h6>
                        <p class="m-0">Oguzhan@gmail.com</p>
                    </div>
                    <div class="d-inline-flex flex-column text-center pl-3">
                        <h6>Telefon belgimiz</h6>
                        <p class="m-0">+993 *********</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->

    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
            <a href="" class="navbar-brand d-block d-lg-none">
                <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Safety</span>First</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a href="{% url 'home-page' %}" class="nav-item nav-link active">Home</a>
                    <a href="{% url 'dog-page' %}" class="nav-item nav-link">Itler</a>
                    <a href="{% url 'cat-page' %}" class="nav-item nav-link">Pişikler</a>
                    <a href="{% url 'fish-page' %}" class="nav-item nav-link">Balyklar</a>
                    <a href="{% url 'hamster-page' %}" class="nav-item nav-link">Hamsterler</a>
                    <a href="{% url 'bird-page' %}" class="nav-item nav-link">Guşlar</a>
                    <a href="{% url 'rabbit-page' %}" class="nav-item nav-link">Towşanlar</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid bg-light pt-5 pb-4">
        <div class="container py-5">
            <div class="d-flex flex-column text-center mb-5">
                <h4 class="text-secondary mb-3">Balyklar</h4>
                <h1 class="display-4 m-0">Öz balygyňy <span class="text-primary">saýla</span></h1>
            </div>
            {% for i in A %}
                <div class="mb-4">
                    <div class="card border-0">
                        <div class="card-header position-relative border-0 p-0 mb-4">
                            <img class="card-img-top" src="{{ i.img.url }}" alt="{{ i.title }}">>
                        
                        </div>
                        <div class="card-body text-center p-0">
                            <ul class="list-group list-group-flush mb-4">
                                <li class="list-group-item p-2">Ady:{{i.title}}</li>
                                <li class="list-group-item p-2">Jynsy:{{i.typ}}</li>
                                <li class="list-group-item p-2">Yaşy:{{i.age}}</li>
                                <li class="list-group-item p-2">Bahasy:{{i.price}}mn</li>
                            </ul>
                        </div>
                        <div class="card-footer border-0 p-0">
                            <a href="{% url 'sargyt-page' i.title %}" class="btn btn-primary btn-block p-3" style="border-radius: 0;">Satyn al</a>
                    </div>
                </div>
          
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-12 mb-5">
                <h1 class="mb-3 display-5 text-capitalize text-white"><span class="text-primary">Öý</span>Haýwanym</h1>
                <p class="m-0">Online öý haýwanlary satylýan saýt .Bu saýt size arzan hem gowy öý haýwanlaryny online görnüşde almaga mumkinçilik berýa</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-primary mb-4">Biz bilen habarlaşyp bilersiňiz</h5>
                        <p><i class="fa fa-map-marker-alt mr-2"></i>Köşi</p>
                        <p><i class="fa fa-phone-alt mr-2"></i>+993****</p>
                        <p><i class="fa fa-envelope mr-2"></i>Oguzhan@gmail.com</p>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 36px; height: 36px;" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
   
    <a href="#" class="btn btn-lg btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>